

/*DIV PRINCIAPAL*/
div.boxf{
    background-color: #87CEFA;
    width: 550px;
    height: 550px;
    margin-top: 200px;
    margin-left:700px ;
    border: 2px solid #000000;
    border-radius: 20px;
}

/* TITULOS*/
h1{
    
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-left:230px ;
}

h2{
    
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 25px;
    margin-left:150px ;
}

div.traco{
    
    width: 520px;
    height: 4px;
    margin-top: 25px;
    margin-left:10px ;
    border-radius: 2px;
}

/*LOGIN*/
div.nome{
    
    margin-top: 70px;
    margin-left:50px ;
   
}

label.nome_lbl{
   
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
     
}

.tex{
    border-radius: 5px;
    width: 400px;
    height: 25px;
    font-size: 20px;
}

/*SENHA*/
div.senha{
    
    margin-top: 40px;
    margin-left:50px ;
}

div.buttonac{
    margin-top: 40px;
    margin-left: 200px;
}

.bt{
   
    padding: 10px 25px;
    font-size: 20px;
    border-radius: 15px;
    border: 2px solid #000000;

}

div.esq{

    margin-top: 50px;
    margin-left: 50px;
    
}

.bt_esq{
    padding: 2px 15px;
    border-radius: 5px;
}
.efeito:hover{
    background: rgba(0,0,0,0);
    color: #000080;
    box-shadow: inset 0 0 0  #000080 ;
}