

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: teal;
}

h1{
    color: fuchsia;
}

.box {
    background-color: rgb(233, 15, 113)	;
    padding: 40px;
    margin: 10px;
}